<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="submit()" class="login-form">
    <h2>Iniciar sesión</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="usuario@empresa.com" />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">El email es obligatorio</mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Formato de email inválido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">La contraseña es obligatoria</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Empresa</mat-label>
      <input type="text"
             matInput
             [matAutocomplete]="autoCompany"
             formControlName="companyQuery" />

     <!-- Autocompletado de empresas -->
     <mat-autocomplete
     #autoCompany="matAutocomplete"
     [displayWith]="displayCompany"
     (optionSelected)="onCompanySelected($event.option.value)"
   >
     <ng-container *ngIf="filteredCompanies$ | async as options">
       <mat-option *ngIf="companySearchLoading" disabled>Cargando...</mat-option>

       <mat-option *ngFor="let company of options" [value]="company">
         {{ company.name }}
       </mat-option>

       <mat-option *ngIf="!companySearchLoading && options.length === 0 && showSearchResults" disabled>
         Sin resultados
       </mat-option>

       <mat-option *ngIf="!companySearchLoading && !showSearchResults" disabled>
         Digite al menos 2 letras para buscar
       </mat-option>
     </ng-container>
   </mat-autocomplete>


      <mat-error *ngIf="loginForm.get('companyId')?.hasError('required')">Seleccione una empresa</mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="rememberMe" class="full-width">
      Recordarme
    </mat-checkbox>


    <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="submitting || loginForm.invalid">
      {{ submitting ? 'Ingresando...' : 'Continuar' }}
    </button>

    <div *ngIf="loginError" class="error-message">
      {{ loginError }}
    </div>

    <br>
    <div class="forgot-password-container">
      <a routerLink="/reset-password" class="forgot-password-link">¿Olvidaste tu contraseña?</a>
    </div>
  </form>
</div>


