table {
  width: 100%;
}

th {
  text-align: left;
  background-color: #3f51b5;
  color: black;
  padding: 10px;
}

td {
  padding: 10px;
}

.mat-elevation-z8 {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

button {
  margin-left: 10px;
}

.col-coment {
  width: 20vw;
}
.col-address {
  width: 20vw;
}

.col-basic {
  width: 10vw;
}
