table {
  width: 100%;
}

th {
  text-align: center;
  background-color: #3f51b5;
  color: black;
  padding: 10px;
}

td {
  padding: 10px;
}

.mat-elevation-z8 {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

button {
  margin-left: 10px;
}

.col-coment {
  width: 20vw;
}
.col-address {
  width: 20vw;
}

.col-basic {
  width: 10vw;
}




table {
  width: 800px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.table-container {
  width: 100%;
  height: auto;
  min-width: 350px;
  overflow: auto;
}



.mat-mdc-row:hover .mat-mdc-cell {

  cursor: pointer;
  background-color: #e4f4f2  ;
}

.mat-column-actions {
  width: 20px;
  text-align: center;
  padding: 0 0px !important;
}


