.filter-container {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}
.table-container {
  width: 100%;
  height: auto;
  min-width: 350px;
  overflow: auto;
}

.mat-mdc-row:hover .mat-mdc-cell {
  cursor: pointer;
  background-color: #e4f4f2  ;
}

.mat-column-actions {
  width: 20px;
  text-align: center;
  padding: 0 0px !important;
}

