<h2>Home dashboard</h2>

<div class="stats-container">
  <mat-card *ngFor="let card of cards" class="stat-card">
    <div class="icon-floating" [ngClass]="card.color">
      <mat-icon>{{ card.icon }}</mat-icon>
    </div>
    <div class="info">
      <h4>{{ card.title }}</h4>
      <h2>{{ card.amount | number:'1.0-0' }}</h2>
      <p> Información de ventas pagadas</p>
    </div>
  </mat-card>
</div>

<!-- Gráficos de ventas -->


<div class="dashboard-container">
  <mat-card class="chart-card">
<!-- Gráfico de dona -->
<div class="chart-box" *ngIf="this.dataDoughnut .length > 0">
  <canvas baseChart
    [data]="doughnutChartData"
    [options]="doughnutChartOptions"
    [type]="'doughnut'">
  </canvas>
</div>
  </mat-card>

  <!-- Gráfico de barras de ventas
  <mat-card class="chart-card">
    <h3>Sales Overview</h3>
    <p>Ample Admin vs Material Admin</p>
    <canvas baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      chartType="bar">
    </canvas>
  </mat-card>

  <mat-card class="chart-card">
    <h3>Our Visitors</h3>
    <p>Different Devices Used to Visit</p>
    <canvas baseChart
      [data]="doughnutChartData"
      [options]="doughnutChartOptions"
      chartType="doughnut">
    </canvas>
  </mat-card>-->
</div>
