.table-container {
  width: 100%;
  height: auto;
  min-width: 350px;
  overflow: auto;
}
.sub-title-text {
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
