.company-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

.text-end {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}
