
   <mat-sidenav-container class="container">
      <!-- Sidebar -->
      <mat-sidenav #sidenav mode="side" [(opened)]="opened" color="">
        <mat-nav-list >
          <mat-list-item [routerLink]="''" (click)="sidenav.close()">Inicio</mat-list-item>
          <mat-list-item [routerLink]="'/clients'" (click)="sidenav.close()">Clientes</mat-list-item>
          <mat-list-item [routerLink]="['/products']" (click)="sidenav.close()">Products</mat-list-item>
          <mat-list-item (click)="sidenav.close()">Contacto</mat-list-item>
        </mat-nav-list>
      </mat-sidenav>

      <!-- Contenido principal -->
      <mat-sidenav-content>
        <mat-toolbar color="accent">
          <button mat-icon-button (click)="sidenav.toggle()" color="primary">
            <mat-icon>menu</mat-icon>
          </button>
          <button mat-button [routerLink]="''">Inicio</button>
          <button mat-button [routerLink]="'/clients'">clients</button>
          <button mat-button [routerLink]="['/products']">products</button>

          <span class="spacer"></span>
          <button mat-button (click)="logout()">salir
          <mat-icon>exit_to_app</mat-icon>
        </button>
          <span>Mi Aplicación</span>

        </mat-toolbar>

        <div class="content">
          <router-outlet/>
          <h1>Bienvenido a mi aplicación</h1>
          <p>Selecciona una opción en el menú.</p>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
