
   <ng-container *ngIf="authService.isAuthenticated(); else publicLayout">
    <mat-sidenav-container class="container" [class.handset]="isHandset">
      <!-- Sidebar -->
      <mat-sidenav
        #sidenav
        [mode]="isHandset ? 'over' : 'side'"
        [opened]="!isHandset"
        class="sidenav"
        [class.collapsed]="!isExpanded && !isHandset">

        <div class="sidenav-header" style="justify-content: end"
        (click)="isHandset ? sidenav.toggle() : toggleRail()">
          <mat-icon class="toggle-icon">
            {{ !isHandset && isExpanded ? 'chevron_left' : 'chevron_right' }}
          </mat-icon>
        </div>

        <mat-nav-list>
          <a
            mat-list-item
            *ngFor="let item of menuItems"
            [routerLink]="item.route"
            (click)="isHandset ? sidenav.close() : null"
          >
            <mat-icon class="item-icon" style="">{{ item.icon }}</mat-icon>
            <span  class="item-label" *ngIf="isExpanded || isHandset" class="menu-label">{{ item.label }}</span>
          </a>
        </mat-nav-list>
      </mat-sidenav>

       <!-- Contenido principal -->
       <mat-sidenav-content style="margin-left: 1px;">
         <mat-toolbar color="accent" class="toolbar" autosize>
           <button mat-icon-button
           (click)="isHandset ? sidenav.toggle() : toggleRail()" color="primary">
            <mat-icon>{{ isHandset ? 'menu' : (isExpanded ? 'menu_open' : 'menu') }}</mat-icon>
           </button>
           <div *ngIf="authService.isAuthenticated()" style="margin-right: 12px;"> {{userCompanyName}}</div>

           <span class="spacer"></span>
 <!-- Menu de Administración -->
           <button mat-button [matMenuTriggerFor]="adminMenu" aria-label="Menú de administración">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Administración</span>
          </button>
          <mat-menu #adminMenu="matMenu">

            <button mat-menu-item (click)="openUserProfile()">
              <mat-icon>manage_accounts</mat-icon>
              <span>Administrar Usuarios</span>
            </button>
            <button mat-menu-item (click)="openRolesSettings()">
              <mat-icon>business</mat-icon>
              <span>Configuración de roles</span>
            </button>
            <button mat-menu-item (click)="openCompanySettings()">
              <mat-icon>business</mat-icon>
              <span>Configuración de Empresa</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="openSystemSettings()">
              <mat-icon>settings</mat-icon>
              <span>Configuración del Sistema</span>
            </button>
            <button mat-menu-item (click)="openBackupRestore()">
              <mat-icon>backup</mat-icon>
              <span>Respaldo y Restauración</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Salir</span>
            </button>
          </mat-menu>

 <!-- Menu fin -->

         </mat-toolbar>

         <div class="content">


           <router-outlet/>
         </div>
       </mat-sidenav-content>
     </mat-sidenav-container>
   </ng-container>

   <ng-template #publicLayout>
     <router-outlet></router-outlet>
   </ng-template>
