
// @import '@angular/material/prebuilt-themes/azure-blue.css';

@import '@angular/material/prebuilt-themes/purple-green.css';

$spacing: 16px;

.spacer {
  flex: 1;
}

.container {
  height: 100vh;
}

.content {
  padding: $spacing;
}

.snackbar-success {
  background-color: #4caf50;
  color: #fff;
}

.snackbar-error {
  background-color: #f44336;
  color: #fff;
}

.snackbar-info {
  background-color: #2196f3;
  color: #fff;
}

.snackbar-warning {
  background-color: #ff9800;
  color: #fff;
}
