
   <ng-container *ngIf="authService.isAuthenticated(); else publicLayout">
     <mat-sidenav-container class="container">
       <!-- Sidebar -->
       <mat-sidenav #sidenav mode="side" [(opened)]="opened" color="">
         <mat-nav-list >
           <mat-list-item [routerLink]="'/home'" (click)="sidenav.close()">Inicio</mat-list-item>
           <mat-list-item [routerLink]="'/clients'" (click)="sidenav.close()">Clientes</mat-list-item>
           <mat-list-item [routerLink]="['/products']" (click)="sidenav.close()">Productos</mat-list-item>
           <mat-list-item [routerLink]="['/providers']" (click)="sidenav.close()">Proveedores</mat-list-item>
           <mat-list-item [routerLink]="['/sales']" (click)="sidenav.close()">Ventas</mat-list-item>
           <mat-list-item [routerLink]="['/category']" (click)="sidenav.close()">Categorias</mat-list-item>
           <mat-list-item [routerLink]="['/dashboard']" (click)="sidenav.close()">dashboard</mat-list-item>
           <mat-list-item (click)="sidenav.close()">Contacto</mat-list-item>
         </mat-nav-list>
       </mat-sidenav>

       <!-- Contenido principal -->
       <mat-sidenav-content>
         <mat-toolbar color="accent">
           <button mat-icon-button (click)="sidenav.toggle()" color="primary">
             <mat-icon>menu</mat-icon>
           </button>
           <button mat-button [routerLink]="'/home'">Inicio</button>
           <button mat-button [routerLink]="'/clients'">clients</button>
           <button mat-button [routerLink]="['/products']">products</button>

           <span class="spacer"></span>
           <div *ngIf="authService.isAuthenticated()" style="margin-right: 12px;"> {{userCompanyName}}</div>
           <button mat-button (click)="logout()">salir
             <mat-icon>exit_to_app</mat-icon>
           </button>

         </mat-toolbar>

         <div class="content">
          <div *ngIf="authService.isAuthenticated()">
            <mat-icon style=" vertical-align: bottom;">person</mat-icon> {{ userName || 'usuario' }}
          </div>

           <router-outlet/>
         </div>
       </mat-sidenav-content>
     </mat-sidenav-container>
   </ng-container>

   <ng-template #publicLayout>
     <router-outlet></router-outlet>
   </ng-template>
