<h2>Lista de Proveedores</h2>
<!-- botón para agregar proveedor -->
<div class="button-container" *appHasPermission="'provider:create'">
  <button mat-fab extended [routerLink]="['/providers/create']">
    <mat-icon>person_add_alt</mat-icon>
    Agregar proveedor
  </button>
</div>
<br>
<!-- filtro -->
<ng-container *appHasPermission="'provider:read'">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Buscar clientes</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar nombre, email.">
  </mat-form-field>

  <br>

  <div class="table-container">
    <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8"
      *ngIf="this.dataSource.data.length > 0; else noProviders">


      <!-- Nombre Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let provider"> {{ provider.name }} </td>
      </ng-container>

      <!-- phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Celular </th>
        <td mat-cell *matCellDef="let provider"> {{ provider.phone }} </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let provider"> {{ provider.email }} </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> address </th>
        <td mat-cell *matCellDef="let provider"> {{ provider.address }} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="actions" class="mat-column-actions" sticky="right">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let provider">

          <!-- Acciones con menú desplegable -->
          <button mat-button [matMenuTriggerFor]="adminMenu" aria-label="Menú de administración">
            <mat-icon>more_vert</mat-icon>
            <span></span>
          </button>
          <!--  opciones delMenú  -->
          <mat-menu #adminMenu="matMenu">
            <button mat-menu-item (click)="deleteProvider(provider.id,provider.name)"
              *appHasPermission="'provider:delete'">
              <mat-icon>clear</mat-icon>
              <span>Eliminar</span>
            </button>
            <button mat-menu-item (click)="updateProvider(provider.id)" *appHasPermission="'provider:update'">
              <mat-icon>edit</mat-icon>
              <span>Actualizar</span>
            </button>
          </mat-menu>

        </td>
      </ng-container>

      <!-- Encabezados y Filas -->
      <thead>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      </thead>
      <tbody>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </tbody>
    </table>
  </div>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
  </mat-paginator>

  <ng-template #noProviders>
    <p>No hay clientes disponibles.</p>
  </ng-template>
</ng-container>
