<h2>Lista de Usuarios</h2>


<div class="button-container">
  <!-- botón para agregar cliente -->
  <button mat-fab extended [routerLink]="['/administration/create-user']">
    <mat-icon>person_add_alt</mat-icon>
    Agregar usuario
  </button>
</div>
<br>
<!-- filtro -->
<mat-form-field appearance="outline" class="full-width">
  <mat-label>Buscar usuarios</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar nombre, email.">
</mat-form-field>
<br>

<div class="table-container">
  <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8"
    *ngIf="this.dataSource.data.length > 0; else noUsers">

    <!-- Acciones Column -->
    <ng-container matColumnDef="actions" class="mat-column-actions" sticky="right">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let users">


        <button mat-button [matMenuTriggerFor]="adminMenu" aria-label="Menú de administración">
          <mat-icon>more_vert</mat-icon>
          <span></span>
        </button>
        <mat-menu #adminMenu="matMenu">

          <button mat-menu-item (click)="desactivateUser(users.user_id,users.user_name,users.user_email)" *ngIf="users.is_active">
            <mat-icon>clear</mat-icon>
            <span>Desactivar</span>
          </button>
          <button mat-menu-item (click)="activateUser(users.user_id,users.user_name,users.user_email)"  *ngIf="!users.is_active">
            <mat-icon>check_circle</mat-icon>
            <span>Activar</span>
          </button>

          <button mat-menu-item  (click)="updateUser(users.user_id)">
            <mat-icon> edit_square</mat-icon>
            <span>Actualizar</span>
          </button>

          <button mat-menu-item  (click)="validateEmail(users.user_email)" *ngIf="!users.is_verified">
            <mat-icon>mark_email_read</mat-icon>
            <span>validar
              email</span>
          </button>
          </mat-menu>

         <!-- <button mat-button color="warn" (click)="desactivateUser(users.user_id,users.user_name,users.user_email)"
          *ngIf="users.is_active">Desactivar</button>-->
        <!-- <button mat-button color="warn" (click)="activateUser(users.user_id,users.user_name,users.user_email)"
          *ngIf="!users.is_active">Activar</button>-->
       <!--  <button mat-button color="warn" (click)="updateUser(users.user_id)">Actualizar</button>
        <button mat-button color="warn" (click)="validateEmail(users.user_email)" *ngIf="!users.is_verified">validar
          email</button>-->
      </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="user_name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let users"> {{ users.user_name }} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="user_email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let users"> ✉️ {{ users.user_email }} </td>
    </ng-container>
    <!-- roles Column -->
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef> Roles </th>
      <td mat-cell *matCellDef="let users"> {{ users.roles }} </td>
    </ng-container>
    <!-- is_active Column -->
    <ng-container matColumnDef="is_active">
      <th mat-header-cell *matHeaderCellDef> Activo </th>
      <td mat-cell *matCellDef="let users">
        <mat-checkbox [checked]="users.is_active" [disabled]="true" color="primary">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- is_verified Column -->
    <ng-container matColumnDef="is_verified">
      <th mat-header-cell *matHeaderCellDef> Verificado </th>
      <td mat-cell *matCellDef="let users">
        <mat-checkbox [checked]="users.is_verified" [disabled]="true" color="accent">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- joined_at Column -->
    <ng-container matColumnDef="joined_at">
      <th mat-header-cell *matHeaderCellDef> Fecha de registro </th>
      <td mat-cell *matCellDef="let users"> {{ users.joined_at | date:'dd/MM/yyyy' }} </td>
    </ng-container>

    <!-- Encabezados y Filas -->
    <thead>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    </thead>
    <tbody>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </tbody>

  </table>
</div>
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
</mat-paginator>

<ng-template #noUsers>
  <p>No hay Usuarios disponibles.</p>
</ng-template>
