<mat-accordion>
  <mat-expansion-panel *ngFor="let role of rolesWithCategories">
    <mat-expansion-panel-header>
      <mat-panel-title>

        <mat-icon >blur_circular</mat-icon>
        {{ role.name }}
      </mat-panel-title>
      <mat-panel-description>


      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container *ngIf="role.categories && role.categories.length > 0; else noPerms">


      <section *ngFor="let cat of role.categories;">
        <header class="category-header">
          <span class="category-name">{{ cat.name | titlecase }}

            <mat-icon style="cursor: pointer; vertical-align: bottom;" (click)="addPermission(cat.name)">add_circle_outline</mat-icon>

          </span>

        </header>

        <div class="chip-container">
          <mat-chip-set class="chip-set">
            <mat-chip *ngFor="let perm of cat.permissions; ">
              {{ perm.name }}
              <button matChipRemove
                      aria-label="Eliminar permiso"
                      (click)="deletePermission(perm.id)">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-set>
        </div>


      </section>



    </ng-container>

    <ng-template #noPerms>
      <p class="text-muted">Sin permisos asignados</p>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
